name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  go-test:
    name: Go Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run tests
        run: make test

  test-build:
    name: Test Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Determine changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          files_yaml: |
            docker:
              - Dockerfile
              - .goreleaser.yaml

      - name: Build binary
        run: make build

      # Only build containers when docker/goreleaser files change or on branches main and release-please--branches--main.
      # This speeds up PR CI but ensures releases aren't created for broken images.

      - name: Set up QEMU
        if: steps.changed-files.outputs.docker_any_changed == 'true' || github.ref_name == 'main' || github.event.pull_request.head.ref == 'release-please--branches--main'
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        if: steps.changed-files.outputs.docker_any_changed == 'true' || github.ref_name == 'main' || github.event.pull_request.head.ref == 'release-please--branches--main'
        uses: docker/setup-buildx-action@v3

      - name: Build container
        if: steps.changed-files.outputs.docker_any_changed == 'true' || github.ref_name == 'main' || github.event.pull_request.head.ref == 'release-please--branches--main'
        run: make image
