---
name: release-please

on:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      version: ${{ steps.release.outputs.version }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.MRBOTM_GITHUB_TOKEN }}

  release:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    strategy:
      matrix:
        release:
          - tag_name: "${{ needs.release-please.outputs.tag_name }}"
            version: "v${{ needs.release-please.outputs.version }}"

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.10.0

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to helm registries
        run: |
          echo '${{ secrets.GITHUB_TOKEN }}' | helm registry login ghcr.io --username '${{ github.actor }}' --password-stdin

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Build binary
        run: go build -o masscan-exporter ./main.go

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ matrix.release.version }}
          labels: |
            org.opencontainers.image.source=https://github.com/${{ github.repository }}

      - run: |
          # $owner/charts/$repo
          cat <<EOF >> $GITHUB_ENV
          PACKAGE_REPO="$GITHUB_REPOSITORY_OWNER/charts/${GITHUB_REPOSITORY#$GITHUB_REPOSITORY_OWNER/}"
          EOF

      - name: Package and publish chart
        run: |
          helm package charts/masscan-exporter

          helm push masscan-exporter-*.tgz "oci://ghcr.io/$PACKAGE_REPO"

      - name: Update release notes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release view ${{ matrix.release.tag_name }} --json body | jq -r '.body' > release_notes.md

          cat <<EOF >> release_notes.md
          ## Container Images

          - \`ghcr.io/${{ github.repository }}:${{ matrix.release.version }}\`

          ## Helm Charts

          - \`oci://ghcr.io/$PACKAGE_REPO:${{ matrix.release.version }}\`

          \`\`\`shell
          $ helm show all oci://ghcr.io/$PACKAGE_REPO:${{ matrix.release.version }}
          \`\`\`
          EOF

          gh release edit ${{ matrix.release.tag_name }} --notes-file release_notes.md
