---
name: release-please

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      version: ${{ steps.release.outputs.version }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.MRBOTM_GITHUB_TOKEN }}

  release:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    strategy:
      matrix:
        release:
          - tag_name: "${{ needs.release-please.outputs.tag_name }}"
            version: "${{ needs.release-please.outputs.version }}"
            prefixed_version: "v${{ needs.release-please.outputs.version }}"

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ needs.release-please.outputs.tag_name }}

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.10.0

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to helm registries
        run: |
          echo '${{ secrets.GITHUB_TOKEN }}' | helm registry login ghcr.io --username '${{ github.actor }}' --password-stdin

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - run: |
          # $owner/charts/$repo
          cat <<EOF >> $GITHUB_ENV
          CHART_REPO=$GITHUB_REPOSITORY_OWNER/charts
          CHART_PATH=$GITHUB_REPOSITORY_OWNER/charts/${GITHUB_REPOSITORY#$GITHUB_REPOSITORY_OWNER/}
          EOF

      - name: Package and publish chart
        run: |
          helm package charts/masscan-exporter

          helm push masscan-exporter-*.tgz "oci://ghcr.io/$CHART_REPO"

      - name: Update release notes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release view ${{ matrix.release.tag_name }} --json body | jq -r '.body' > release_notes.md

          cat <<EOF >> release_notes.md
          ## Container Images

          - \`ghcr.io/${{ github.repository }}:${{ matrix.release.prefixed_version }}\`

          ## Helm Charts

          - \`oci://ghcr.io/$CHART_PATH:${{ matrix.release.version }}\`

          \`\`\`shell
          $ helm show all oci://ghcr.io/$CHART_PATH:${{ matrix.release.version }}
          \`\`\`
          EOF

          gh release edit ${{ matrix.release.tag_name }} --notes-file release_notes.md
